@page
@model OrderModel

<h1>Order List</h1>
<p>
    <a asp-page="Create">Create New Order</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Delivery Status</th>
        <th>Total Amount</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.CustomerId</td>
            <td>@item.OrderDate</td>
            <td>@item.OrderStatus</td>
            <td>@item.DeliveryStatus</td>
            <td>@item.TotalAmount</td>
            <td>@item.CreateAt</td>
            <td>@item.UpdateAt</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>