@page
@model DiamondShopSystem.RazorWebApp.Pages.SideStonePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div>
    Filter
</div>
<div>
    <form>
        <div class="form-group">
            <label asp-for="querySideStoneDto.Name" class="control-label">Name</label>
            <input asp-for="querySideStoneDto.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.Description" class="control-label">Description</label>
            <input asp-for="querySideStoneDto.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.UpperPrice" class="control-label">Upper Price</label>
            <input asp-for="querySideStoneDto.UpperPrice" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.LowerPrice" class="control-label">Lower Price</label>
            <input asp-for="querySideStoneDto.LowerPrice" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.SideStoneWeight" class="control-label">Weight</label>
            <input asp-for="querySideStoneDto.SideStoneWeight" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.SideStoneSize" class="control-label">Size</label>
            <input asp-for="querySideStoneDto.SideStoneSize" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.SideStoneMaterial" class="control-label">Material</label>
            <input asp-for="querySideStoneDto.SideStoneMaterial" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="querySideStoneDto.SideStoneCategory" class="control-label">Category</label>
            <input asp-for="querySideStoneDto.SideStoneCategory" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].SideStoneWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].SideStoneSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].SideStoneMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideStone[0].SideStoneCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SideStone)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SideStoneWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SideStoneSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SideStoneMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SideStoneCategory)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SideStoneId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.SideStoneId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.SideStoneId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
