@page
@model DiamondShopSystem.RazorWebApp.Pages.SideStonePage.SideStoneModel
@{
}

<h1>SideStone List</h1>
<p>
    <a asp-page="CreateSideStone">Create New SideStone</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>SideStone ID</th>
            <th>Name</th>
            <th>Descriptoin</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SideStones)
        {
            <tr>
                <td>@item.SideStoneId</td>
                <td>@item.Name</td>
                <td>@item.Descriptoin</td>
                <td>@item.Price</td>
                <td>@item.CreateAt</td>
                <td>@item.UpdateAt</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.SideStoneId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.SideStoneId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>