@page
@model DiamondShopSystem.RazorWebApp.Pages.ProductPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="container mt-5">
    <h2>Filter Products</h2>
    <form id="queryForm" class="d-flex flex-wrap gap-2" asp-page-handler="Filter">
        <div class="form-group ">
            <label asp-for="queryProductDto.ProductName" class="control-label">Name</label>
            <input asp-for="queryProductDto.ProductName" class="form-control" />
        </div>
        <div class="form-group ">
            <label asp-for="queryProductDto.UpperPrice" class="control-label">Upper Price</label>
            <input asp-for="queryProductDto.UpperPrice" class="form-control" />
        </div>
        <div class="form-group ">
            <label asp-for="queryProductDto.LowerPrice" class="control-label">Lower Price</label>
            <input asp-for="queryProductDto.LowerPrice" class="form-control" />
        </div>
        <div class="form-group ">
            <label asp-for="queryProductDto.Description" class="control-label">Description</label>
            <input asp-for="queryProductDto.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="queryProductDto.Status" class="control-label">Status</label>
            <input asp-for="queryProductDto.Status" class="form-control" />
        </div>
        <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Terms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SideStoneAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].DiamondSetting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].MainDiamond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SideStone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideStoneAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiamondSetting.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainDiamond.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideStone.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-center gap-2">
        <div class="form-group">
            <form method="post" asp-page-handler="PrevPage">
                <button type="submit" class="btn btn-primary">Previous Page</button>
            </form>
        </div>
        <div class="form-group ">
            @* <input asp-for="PageNumber" class="form-control"/> *@
            @Model.PageNumber
        </div>
        <div>
            / @Model.TotalPage
        </div>
        <div class="form-group">
            <form method="post" asp-page-handler="NextPage">
                <button type="submit" class="btn btn-primary">Next Page</button>
            </form>
        </div>
    </div>
</div>