@page
@model DiamondShopSystem.RazorWebApp.Pages.ProductPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Terms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SideStoneAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].DiamondSetting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].MainDiamond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SideStone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideStoneAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiamondSetting.DiamondSettingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainDiamond.MainDiamondId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideStone.SideStoneId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
