@page
@model ProductModel

<h1>Product List</h1>
<p>
    <a asp-page="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Warranty</th>
            <th>Main Diamond</th>
            <th>Side Stone</th>
            <th>Side Stone Amount</th>
            <th>Diamond Setting</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.Warranty</td>
                <td>@item.MainDiamond?.MainDiamondType</td>
                <td>@item.SideStone?.Name</td>
                <td>@item.SideStoneAmount</td>
                <td>@item.DiamondSetting?.Name</td>
                <td>@item.Status</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
