@page
@model DiamondShopSystem.RazorWebApp.Pages.OrderPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<p>
    <h2>Search</h2>
</p>

<div>
    <form method="get">
        <div class="form-group">
            <label asp-for="QueryOrderDto.OrderId" class="control-label">Order ID</label>
            <input asp-for="QueryOrderDto.OrderId" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDto.OrderStatus" class="control-label">Order Status</label>
            <input asp-for="QueryOrderDto.OrderStatus" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDto.DeliveryStatus" class="control-label">Delivery Status</label>
            <input asp-for="QueryOrderDto.DeliveryStatus" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDto.TotalAmount" class="control-label">Total Amount</label>
            <input asp-for="QueryOrderDto.TotalAmount" class="form-control" type="number" step="0.01" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDto.Currency" class="control-label">Currency</label>
            <input asp-for="QueryOrderDto.Currency" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDto.Region" class="control-label">Region</label>
            <input asp-for="QueryOrderDto.Region" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DeliveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <th>
                @Html.DisplayFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayFor(model => model.Order[0].Currency)
            </th>
            <th>
                @Html.DisplayFor(model => model.Order[0].Region)
            </th>
            <th></th>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
