@page
@model DiamondShopSystem.RazorWebApp.Pages.MainDiamondPage.MainDiamondModel
@{
}

<h1>MainDiamond List</h1>
<p>
    <a asp-page="CreateMainDiamond">Create New MainDiamond</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>MainDiamondId</th>
            <th>MainDiamondType</th>
            <th>CreateAt</th>
            <th>UpdateAt</th>
            <th>Description</th>
            <th>Price</th>
            <th>Certificate</th>
            <th>Origin</th>
            <th>Size</th>
            <th>CaratWeight</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Cut</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MainDiamonds)
        {
            <tr>
                <td>@item.CreateAt</td>
                <td>@item.MainDiamondType</td>
                <td>@item.UpdateAt</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Certificate</td>
                <td>@item.Origin</td>
                <td>@item.Size</td>
                <td>@item.CaratWeight</td>
                <td>@item.Color</td>
                <td>@item.Clarity</td>
                <td>@item.Cut</td>
                <td>@item.CreateAt</td>
                <td>@item.UpdateAt</td>
                <td>@item.MainDiamondId</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.MainDiamondId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.MainDiamondId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>