@page
@model DiamondShopSystem.RazorWebApp.Pages.OrderDetailPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>

<div>
    <h2>Filter Order Details</h2>
</div>
<div>
    <form method="get">
        <div class="form-group">
            <label asp-for="QueryOrderDetailDto.Quantity" class="control-label">Quantity</label>
            <input asp-for="QueryOrderDetailDto.Quantity" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDetailDto.Amount" class="control-label">Amount</label>
            <input asp-for="QueryOrderDetailDto.Amount" class="form-control" type="number" step="0.01" />
        </div>
        <div class="form-group">
            <label asp-for="QueryOrderDetailDto.ProductId" class="control-label">Product Id</label>
            <input asp-for="QueryOrderDetailDto.ProductId" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderDetailNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailNote)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.OrderDetailId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OrderDetailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
