@page
@model DiamondShopSystem.RazorWebApp.Pages.DiamondSettingPage.DiamondSettingModel
@{
}

<h1>DiamondSetting List</h1>
<p>
    <a asp-page="Create">Create New DiamondSetting</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>DiamondSetting ID</th>
            <th>Name</th>
            <th>DiamondSettingCategory</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DiamondSettings)
        {
            <tr>
                <td>@item.DiamondSettingId</td>
                <td>@item.Name</td>
                <td>@item.DiamondSettingCategory</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Image</td>
                <td>@item.CreateAt</td>
                <td>@item.UpdateAt</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.DiamondSettingId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.DiamondSettingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>